@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #0A0D19; 
    --color-secondary: #1f39a1;
    --color-background: #ebebeb; 
  }
  html, body {
    overscroll-behavior: none;
  }
}



#root {
  background-color: var(--color-background);
  min-height: 100vh; 
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}